<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puttita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
<!--    <meta http-equiv="refresh" content="60">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">

</head>
<body class="roboto-<uniquifier>">
<header class="header">
<h1 id="quote"></h1>
</header>

<nav>
    <a href="Puttita-Personal.html"><span class="material-symbols-outlined">home</span></a>
    <a href=""><span class="material-symbols-outlined">search</span></a>
    <a href=""><span class="material-symbols-outlined">alarm</span></a>
    <a href="window.html"><span class="material-symbols-outlined">window</span></a>
    <a href="payment.html"><span class="material-symbols-outlined">payments</span></a>
    <a href="address.html"><span class="material-symbols-outlined">map_search</span></a>

</nav>

<p style="text-align:center;" >Scan QR code here to make a payment</p>


<div style="margin: 0 auto; width: fit-content;">
    <p style="margin: 0 auto; width: fit-content;" id="qrcode" ></p><br>
    <p style ="display:inline"> or click this link</p>

    <a id="linkswish" style="color:Violet">Swish</a>





</div>






<script src="quote.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>

<script>
    const paymentsummary="swish://payment?token=1234567890&amount=1500&message=Puthyamyong"
new QRCode(document.getElementById("qrcode"),{
text:paymentsummary

});

        document.getElementById("linkswish").href=paymentsummary

</script>



<script>
    const swish=document.getElementById("Swish").value
    document.getElementById("Swish").addEventListener("click",function(){
    document.getElementById("finalmethod").innerHTML=`Place order with : ${swish}`;

});
    const paypal=document.getElementById("Paypal").value
    document.getElementById("Paypal").addEventListener("click",function(){
    document.getElementById("finalmethod").innerHTML=`Place order with : ${paypal}`
});
    const Credit_card=document.getElementById("Credit_card").value
    document.getElementById("Credit_card").addEventListener("click",function(){
    document.getElementById("finalmethod").innerHTML=`Place order with : ${Credit_card}`
});

    document.getElementById("finalmethod").addEventListener("click",function(){
    if (this.textContent==="Place order with : Swish"){
     window.location.href="swishqrcode.html";


    }else {

     window.location.href="window.html";

    }



    })


</script>



</body>
</html>